@import "assets/styles/reset";
@import "assets/styles/common";
@import "assets/styles/header";
@import "assets/styles/sideMenuNav";
@import "assets/styles/loading";
@import "assets/styles/playersInfo";
@import "assets/styles/slickSlider";
@import "assets/styles/swiperSlider";
@import "assets/styles/scores";
@import "assets/styles/transferMarket";
@import "assets/styles/notFound";
@import "assets/styles/playerEnhancement";
@import "assets/styles/loadingBar";
@import "assets/styles/dialog";
@import "assets/styles/keyframes";
