$city-blue: #6CABDD;
$dark-blue: #1C2C5B;
$white: #FFFFFF;
$level-styles: (
    "0-1": (
        background: linear-gradient(140deg, #51545a, #51545a 0, #42464d),
        border-color: #62676d #393a3c #393a3c #62676d,
        border-style: solid,
        border-width: 1.5px,
        color: #c5c8c9
    ),
    "2-4": (
        background: linear-gradient(140deg, #de946b, #de946b 0, #ad5f42),
        border-color: #e4b7a2 #864229 #864229 #e4b7a2,
        border-style: solid,
        border-width: 1.5px,
        color: #7e3f27
    ),
    "5-7": (
        background: linear-gradient(140deg, #020024, #d8d9dc 0, #b8bdca),
        border-color: #d8dadc #a9aaae #a5a8ae #d8dadc,
        border-style: solid,
        border-width: 1.5px,
        color: #4e545e
    ),
    "8-10": (
        background: linear-gradient(140deg, #f9dd62, #f9dd62 0, #dca908),
        border-color: #e9d36c #cda000 #cda000 #e9d36c,
        border-style: solid,
        border-width: 1.5px,
        color: #695100
    )
);

@function get-level-range($range) {
    $start: str-slice($range, 1, str-index($range, "-") - 1);
    $end: str-slice($range, str-index($range, "-") + 1);
    @return (1: $start, 2: $end);
}

// Convert string to number by parsing
@function to-number($str) {
    $parsed-number: 0;

    // Convert string to list of individual characters and iterate through them
    @for $i from 1 through str-length($str) {
        $char: str-slice($str, $i, $i);

        // Convert characters to numbers based on ASCII values
        @if $char == '0' {
            $parsed-number: $parsed-number * 10 + 0;
        } @else if $char == '1' {
            $parsed-number: $parsed-number * 10 + 1;
        } @else if $char == '2' {
            $parsed-number: $parsed-number * 10 + 2;
        } @else if $char == '3' {
            $parsed-number: $parsed-number * 10 + 3;
        } @else if $char == '4' {
            $parsed-number: $parsed-number * 10 + 4;
        } @else if $char == '5' {
            $parsed-number: $parsed-number * 10 + 5;
        } @else if $char == '6' {
            $parsed-number: $parsed-number * 10 + 6;
        } @else if $char == '7' {
            $parsed-number: $parsed-number * 10 + 7;
        } @else if $char == '8' {
            $parsed-number: $parsed-number * 10 + 8;
        } @else if $char == '9' {
            $parsed-number: $parsed-number * 10 + 9;
        }
    }

    @return $parsed-number;
}

// Loop through the level styles and apply them to each enhancement level class
@each $range, $styles in $level-styles {
    $range-values: get-level-range($range);
    $start-level: to-number(map-get($range-values, 1)); // Convert start level to number
    $end-level: to-number(map-get($range-values, 2)); // Convert end level to number

    // Iterate through each level in the range and apply the styles
    @for $level from $start-level through $end-level {
        .enhancement-level#{$level} {
            @each $property, $value in $styles {
                #{$property}: $value;
            }
        }
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition($duration) {
    transition: all $duration ease-in-out;
}

// Light Theme Variables
:root[data-theme='light'] {
    --background-color: #ffffff;
    --text-color: #1f1f20;
    --sub-text-color: #3B3B3BFF;
    --contents-background-color: #ffffff;
    --nav-hover-before-color: #29fdc8;
    --nav-hover-after-color: #eb7c1a;
    --main-border-color: #e3e2e6;
    --border-color: #e3e2e6;
    --city-color: #98C5E9;
    --table-header-color: #f5f6fa;
    --table-hover-color: #edeff8;
    --player-info-bg: #f5f6fa;
    --player-info-border: #d1d3db;
    --player-info-box-shadow: rgba(0, 0, 0, 0.1);
    --before-background-color: rgba(0, 0, 0, 0.1);
    --scrollbar-thumb-color: #98C5E9;
    --scrollbar-track-color: #f5f6fa;
    --scrollbar-hover-color: #6bafe3;
    --contents-background-image: #F4EFF1;
}

// Dark Theme Variables
:root[data-theme="dark"] {
    --background-color: #1f1f20;
    --text-color: #ffffff;
    --sub-text-color: #e1dde1;
    --contents-background-color: #0d0e1c;
    --nav-hover-before-color: #29fdc8;
    --nav-hover-after-color: #eb7c1a;
    --main-border-color: #1f1f20;
    --border-color: #275265;
    --city-color: #98C5E9;
    --table-header-color: #2b2c3b;
    --table-hover-color: #000000;
    --player-info-bg: #2b2c3b;
    --player-info-border: #404060;
    --player-info-box-shadow: rgba(255, 255, 255, 0.1);
    --before-background-color: rgba(0, 0, 0, 0.5);
    --scrollbar-thumb-color: #98C5E9;
    --scrollbar-track-color: #1f1f20;
    --scrollbar-hover-color: #6bafe3;
    --contents-background-image: #0B100E;
}

::-webkit-scrollbar {
    width: 12px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
    border: 3px solid var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover-color); /* 호버 시 색상 */
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color); /* 트랙 색상 */
    border-radius: 10px;
}

/* Firefox 스크롤바 스타일 */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

.container {
    position: relative;
    overflow: hidden;
}

body {
    background-color: var(--contents-background-color);
    transition: background-color 0.3s ease;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.contents-background-image {
    z-index: -1;
    position: absolute;
    top: 66px;
    left: 82px;
    width: calc(100% - 82px);
    height: calc(100% - 66px);
    transition: filter 0.3s ease;
}

:root[data-theme="dark"] img.contents-background-image {
    filter: none;
}

:root[data-theme="light"] img.contents-background-image {
    filter: invert(1);
}

:root[data-theme="dark"] img.invertible {
    filter: invert(1);
}

:root[data-theme="light"] img.invertible {
    filter: none;
}

.contents-container,
.transfer-market-container {
    padding-top: 65px;
    padding-left: 82px;
    display: flex;
}

.api-loading-bar {
    z-index: 1001;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    span {
        display: block;
        text-align: center;
        color: var(--city-color);
    }
}

.ST,
.RW,
.LW,
.CF {
    color: #f6425f;
}

.CM,
.CAM,
.CDM {
    color: #03cd7a;
}

.CB,
.RB,
.LB {
    color: #1476ff;
}

.GK {
    color: #e9a216;
}

.players-card-row {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 400px;
    margin: 0 auto;
}

.players-card {
    width: 210px;
    height: 336px;
    text-align: center;
}

.players-row {
    position: relative;
    overflow: hidden;
    width: calc(100% - 9px);
    left: 4px;
    height: 100%;

    .number {
        color: #ffffdb;
        position: absolute;
        top: 50px;
        left: 2px;
        text-align: center;
        width: 61px;
        z-index: 2;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
        font-size: 40px;
        font-family: 'FCOAllSans-Bold', sans-serif;

        &.bdo {
            color: #ffefc3;
            text-shadow: none;
        }

        &.bld {
            color: #f1d698;
            text-shadow: none;
        }

        &.icon {
            color: #5d573d;
            text-shadow: none;
        }
    }

    .position {
        font-size: 25px;
        color: #ffffdb;
        position: absolute;
        top: 95px;
        left: 2px;
        text-align: center;
        width: 61px;
        z-index: 2;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
        font-family: 'FCOAllSans-Regular', sans-serif;
        font-weight: 100;
        letter-spacing: -1px;

        &.bdo {
            color: #ffefc3;
            text-shadow: none;
        }

        &.bld {
            color: #f1d698;
            text-shadow: none;
        }

        &.icon {
            color: #5d573d;
            text-shadow: none;
        }
    }

    .img {
        position: absolute;
        top: 71px;
        right: 5px;
        z-index: 1;
        width: 169px;
        height: 169px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .players {
        position: absolute;
        top: 240px;
        left: 0;
        width: 100%;
        height: 96px;
        overflow: hidden;

        .players-detail-top {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-top: 4px;
            margin-bottom: 4px;

            img {
                width: 30px;
                height: 24px;
                margin-right: 3px;
                margin-top: -1px;
                display: inline-block;
                vertical-align: top;
            }

            .name {
                display: inline-block;
                max-width: 140px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 24px;
                color: #141432;
                font-family: "FCOAllSans-Regular", sans-serif;

                &.bdo,
                &.dld {
                    color: #ffffff;
                }

                &.icon {
                    color: #000000;
                }
            }
        }

        .players-detail-bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            img {
                width: 100%;
            }

            .country-logo {
                width: 24px;
            }

            .league-logo {
                width: 32px;
                height: 32px;
            }

            .city-logo {
                width: 24px;
                height: 24px;
            }
        }
    }


    .enhancement-level {
        z-index: 99;
        position: absolute;
        left: 6px;
        bottom: 96px;
    }
}

.enhancement-level {
    display: block;
    width: 48px !important;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    padding-left: 0;
    position: relative;
    text-align: center;
    font-family: "EASANS", sans-serif;
}

td {
    .enhancement-level {
        margin: 0 auto;
    }
}