header {
    z-index: 1000;
    position: fixed;
    display: flex;
    left: 82px;
    top: 0;
    width: calc(100% - 82px);
    padding: 11px 18px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-border-color);
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.3s ease;

    .header-right {
        display: flex;
        align-items: center;
        gap: 30px;

        .my-bag {
            text-align: right;
        }

        .city {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;

            .logo {
                width: 40px;
            }
        }

    }

    .toggle_theme_button {
        cursor: pointer;
    }

    .page-name {
        font-size: 26px;
        font-family: "FCOAllSans-Regular", sans-serif;
    }
}