header {
    z-index: 1000;
    position: fixed;
    display: flex;
    left: 82px;
    top: 0;
    width: calc(100% - 82px);
    padding: 18px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-border-color);
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.3s ease;

    .header-right {
        display: flex;
        gap: 30px;
    }

    .toggle_theme_button {
        cursor: pointer;
    }

    .page-name {
        font-size: 24px;
        font-family: "INGAME", sans-serif;
    }
}