.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: var(--background-color);
    transition: opacity 1s ease-out;
    opacity: 1;
    pointer-events: none;

}

.loading-bg {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-color: var(--background-color);
    opacity: 0.1;
}

.loading-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    width: 250px;
    height: 250px;
    object-fit: cover;
    animation: blink 1.5s ease-in-out infinite;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.loading-screen h1 {
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
}