.news-videos-container {
    position: fixed;
    right: 20%;
    top: 53%;
    transform: translate(50%, -50%);
    width: 30%;
    height: 77vh;
    overflow: hidden;

    .news-list-row {
        border-radius: 8px;

        h2 {
            width: 100%;
            padding: 18px 0;
            text-align: center;
            color: var(--text-color);
            letter-spacing: 4px;
        }

        .news-list {
            z-index: 1;
            width: 100%;
            height: 77vh;
            display: flex;
            flex-wrap: wrap;
            overflow: auto;
            font-family: "Pretendard-Regular", sans-serif;
            background-color: var(--contents-background-image);

            .news-item {
                display: flex;
                width: 100%;

                &:hover {
                    background-color: var(--city-color);
                }

                a {
                    display: flex;
                    align-items: center;
                    padding: 16px;
                    width: 100%;
                    text-decoration: none;
                    border-bottom: 1px solid var(--border-color);

                    img {
                        width: 180px;
                        border-radius: 8px;
                    }

                    div {
                        width: 100%;
                        color: var(--text-color);
                        font-size: 21px;
                        margin-left: 12px;
                        font-family: "Pretendard-Regular", sans-serif;

                        strong {
                            font-weight: normal;
                        }

                        p {
                            margin-top: 4px;
                            font-size: 16px;
                            color: var(--sub-text-color);
                        }
                    }
                }
            }
        }
    }
}

.youtube-videos-container {
    position: fixed;
    left: 35%;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.main-video {
    position: relative;
    width: 100%;
    margin-bottom: 36px;

    a {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: var(--text-color);
        font-size: 21px;
        font-family: "Pretendard-Regular", sans-serif;
        text-decoration: none;

        .main-video-info {
            display: flex;
            align-items: center;
            width: 40%;

            h2 {
                line-height: 50px;
            }
        }
    }
}

.main-video-thumbnail {
    width: 56%;
    border-radius: 8px;
    display: block;
}

.additional-videos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.video-item {
    flex: 1;
    max-width: 23%;

    a {
        color: var(--sub-text-color);
        font-family: "Pretendard-Regular", sans-serif;
        text-decoration: none;

        .video-title {
            text-align: center;
            margin-top: 10px;
            font-size: 16px;
        }
    }
}

.video-thumbnail {
    width: 100%;
    border-radius: 8px;
    display: block;
}


