.not-found-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

.not-found-title {
    font-size: 6rem;
    color: var(--sub-text-color);
}

.not-found-message {
    font-size: 1.5rem;
    color: var(--sub-text-color);
    text-align: center;
}

.back-home-link {
    margin-top: 60px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #000000;
    background-color: var(--city-color);
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
        background-color: #007bff;
        color: #ffffff;
    }
}


.error-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    word-break: keep-all;
}

.error-title {
    font-size: 5rem;
    color: var(--sub-text-color);
}

.error-message {
    font-size: 1.4rem;
    color: var(--sub-text-color);
    text-align: center;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-link {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 12px 25px;
    font-size: 1.1rem;
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--city-color);
    }
}

.contact-icon {
    margin-right: 10px;
    font-size: 1.5rem;
}

