.enhance-wrap {
    display: flex;
    width: 100%;
    height: calc(100vh - 131px);
}

.enhance-box {
    width: 30%;
    margin: 20px;
    align-content: center;
    text-align: center;

    .players-card {
        margin: 0 auto;
    }

    .empty {
        width: 100%;
        text-align: center;
        font-size: 24px;
        color: var(--text-color);
    }
}

.full-size {
    position: absolute;
    left: calc(50% + 82px);
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    font-size: 24px;
    color: var(--text-color);
}

.player-list-wrap {
    width: 64%;
    flex-wrap: wrap;
    position: relative;
    margin-top: 66px;
    height: 80vh;
    overflow: auto;

    h3 {
        color: var(--text-color);
    }

    .player-list {
        display: flex;
        flex-wrap: wrap;
        transition: transform 0.5s ease-in-out;

        .player-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            padding: 8px;
            border-bottom: 1px solid #ddd;
            background-color: var(--contents-background-image);

            div {
                flex: 1;
                color: var(--text-color);

                img {
                    width: 32px;
                    height: 16px;
                }

                &.player-count {

                }

                &.enhancement-status {
                    span {
                        &.enhance-available {
                            color: #03cd7a;
                        }

                        &.enhance-unavailable {
                            color: #f6425f;
                        }
                    }
                }
            }

            .ST,
            .RW,
            .LW,
            .CF {
                color: #f6425f;
            }

            .CM,
            .CAM,
            .CDM {
                color: #03cd7a;
            }

            .CB,
            .RB,
            .LB {
                color: #1476ff;
            }

            .GK {
                color: #e9a216;
            }
        }
    }
}

.enhancement-table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.enhancement-table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: var(--text-color);
    overflow: hidden;

    thead {
        background-color: var(--table-header-color);
        font-weight: bold;
    }

    th, td {
        padding: 4px;
        text-align: center;
        border-bottom: 1px solid var(--border-color);
    }

    tr:hover {
        background-color: var(--table-hover-color);
    }
}