.slider-container {
    z-index: 100;
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    padding: 0 30px;
    opacity: 0;
    transform: translateY(100px);

    /* 애니메이션 설정 */
    animation: slideUp 1s ease-out forwards;

    .slick-slider {
        display: flex;
        height: 324px;
        gap: 20px;

        .slick-track {
            display: flex;
            gap: 30px;
        }

        .slider-slide {
            position: relative;
            outline: none;
            border: 2px solid #fff;
            border-radius: 16px;
            overflow: hidden;
            cursor: pointer;
            min-width: 300px;
            max-width: 600px;
            height: 240px;
            display: flex;
            justify-content: center;
            top: 0;
            transition: top 0.3s ease;

            img {
                width: 100%;
                height: 100%;
            }

            .slider-caption {
                position: absolute;
                color: $white;
                padding: 10px;
                font-size: .9em;
                text-transform: uppercase;
                font-family: "Pretendard", sans-serif;
                letter-spacing: 1.6px;
                transition: all 0.3s ease;
            }

            &:hover {
                top: -10px;
                transition: top 0.2s ease;
            }

            &.premier {

                .slider-caption {
                    left: 20px;
                    bottom: -100%;
                }

                &:hover {
                    .slider-caption {
                        bottom: 20px;
                        transition: bottom 0.3s ease;
                    }
                }
            }

            &.super {
                .slider-caption {
                    left: -100%;
                    top: 10px;
                }

                &:hover {
                    .slider-caption {
                        left: 20px;
                    }
                }
            }

            &.world {
                .slider-caption {
                    right: 20px;
                    top: -100%;
                }

                &:hover {
                    .slider-caption {
                        top: 10px;
                    }
                }
            }

            &.fa {
                .slider-caption {
                    right: 20px;
                    top: -100%;
                }

                &:hover {
                    .slider-caption {
                        top: 10px;
                    }
                }
            }

            &.champions {
                .slider-caption {
                    left: -100%;
                    top: 10px;
                }

                &:hover {
                    .slider-caption {
                        left: 20px;
                    }
                }
            }
        }

        .slick-track {
            padding-top: 10px;
        }
    }

    .slick-list {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .slick-dots {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
        width: auto;

        li {
            list-style: none;
            width: 40px;
            height: 4px;
            background-color: white;
            padding: 0;
            margin: 0;
            border: 0;

            button {
                width: 100%;
                height: 100%;
                padding: 0;
                border: none;
                background: none;
                opacity: 0;
                cursor: pointer;
            }
        }

        .slick-active {
            animation: neonGlow 1.5s infinite alternate;
        }

        .custom-dots {
            position: absolute;
            left: 0;
            top: -16px;
            color: #eeeeee;

            .current-slide {
                font-size: 22px;
                font-weight: bold;
                color: #ffffff;
            }

            .total-slides {
                font-size: 18px;
                font-weight: bold;
                color: #eeeeee;
            }
        }
    }
}

.play-button-container {
    position: absolute;
    bottom: 160px;
    left: 400px;
    z-index: 1000;
    display: flex;
    align-items: center;

    div h4 {
        font-size: 22px;
        text-align: left;
    }

    div p {
        font-size: 18px;
        text-align: left;
    }

    .play-button {
        width: 50px;
        height: 50px;
        margin-right: 1.2em;
        background-color: rgba(255, 255, 255, 0.7);
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
    }

    .play-button:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .play-button svg {
        width: 14px;
        height: 14px;
        color: #6CABDD;
    }
}